# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres:12.4
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: webadmin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: master
    volumes:
      - ./db/dump.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/pgsql.admin.sql:/docker-entrypoint-initdb.d/admin.sql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080